.suggetionlist {
  margin-bottom: 1rem;

  .suggestion {
    display: grid;
    grid-template-columns: 32px 2fr 1fr;
    align-items: center;
    margin-bottom: 0.7em;

    .avatar {
      justify-self: center;
      margin-right: 0.8em;
    }
    .nickname {
    }
    .action {
      justify-self: right;
    }
  }
}
